* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    background: #EDE4E0;
}

#root::before {
    content: "";
    background-image: url("./images/noise.gif");
    background-size: 1%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.05;
}